.header{
  width: 100%;
  height: 60px;
  background-color: #402f3f;
  display: flex;
  position: fixed;
}

.logo{
  width: 120px;
  margin: 6px 10px 0px 125px;
}

.link{
  color: white;
  font-family: sans-serif;
  text-decoration: none;
  margin: 11px;
  font-size: 14px;
}

.cajalink{
  // margin-top: 18px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
